* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.f-openSans {
  font-family: 'Open Sans' !important;
}


.cardMakan > img {
    width: 100%;
    height: 50% !important;
    border-radius: 10px;
}

.hargaAwal {
  font-size: .8em;
}

.totalCard {
  position: absolute;
  top: -13px;
  right: 3px;
}

@keyframes swipeLeft {
  0% {
    margin-left: -150px;
    
  }
  100% {
    margin-left: 0;
  }
}



@media screen and (max-width: 767px) {
    .nav {
      height: 100vh;
      animation: swipeLeft 1.5s;
      animation-fill-mode: forwards;
      position: relative;
      z-index: 2;
    }
    main {
        width: 100%;
    }

    .cardMakan{
        width: 45%;
        height: 300px;
        border: 0px;
        border-radius: 10px;
    }

    #gambarKeranjang {
        width: 40%;
        height: 120px;
        
    }
    
    .cardTransaksi > div > img {
      width: 35%;
      height: 120px;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        width: 20%;
        position: fixed;
        z-index: 999;
        animation: swipeLeft 1.5s;
    }

    main {
        width: 80%;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
    }

    #navbar > button {
        font-size: 1.5em;
    }

    .cardMakan {
        width: 22%;
        height: 300px;
    }


    .informasi {
        margin: .5rem 3rem;
    }
    
    /* Keranjang */

    #gambarKeranjang {
        width: 30%;
        height: 120px;
    }
    
    #footer {
      width: 80%;
      margin-left: 20%;
      
    }
    
    /* end Keranjang */
      
    /* Transaksi */
    .containerCardTransaksi {
       display: flex;
       flex-wrap: wrap;
       
    }
    .cardTransaksi {
      width: 45%;
    }
    .cardTransaksi > div > img {
      width: 35%;
      height: 120px;
    }
}


